@model IEnumerable<SistemaLearnGo.Models.Perfil>

@{
    ViewData["Title"] = "Index";
}

<h1>Perfil</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PerfilFoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cadastro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PerfilFoto)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Cadastro.CadastroNomeCompleto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PerfilId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.PerfilId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.PerfilId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
