@model SistemaLearnGo.Models.OfertarCarona

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Você tem certeza que quer apagar isso?</h3>
<div>
    <h4>Ofertar Carona</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfertarCaronaPeriodo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfertarCaronaPeriodo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfertarCaronaHorário)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfertarCaronaHorário)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfertarCaronaEndereço)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfertarCaronaEndereço)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfertarCaronaVagas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfertarCaronaVagas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfertarCaronaVeiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfertarCaronaVeiculo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OfertarCaronaId" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para a lista</a>
    </form>
</div>
