@model IEnumerable<SistemaLearnGo.Models.SolicitarCarona>

@{
    ViewData["Title"] = "Index";
}

<h1>Solicitar carona</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SolicitarCaronaNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SolicitarCaronaHorário)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SolicitarCaronaEndereço)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculdade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SolicitarCaronaNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SolicitarCaronaHorário)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SolicitarCaronaEndereço)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Faculdade.FaculdadeNome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SolicitarCaronaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.SolicitarCaronaId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.SolicitarCaronaId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
