@model SistemaLearnGo.Models.Cadastro

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Você tem certeza de que quer apagar isso?</h3>
<div>
    <h4>Cadastro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CadastroNomeCompleto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CadastroNomeCompleto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CadastroFoto)
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.CadastroFoto)" width="80" height="80" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CadastroDataNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CadastroDataNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CadastroRm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CadastroRm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CadastroCurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CadastroCurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CadastroEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CadastroEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CadastroSenha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CadastroSenha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CadastroEndereço)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CadastroEndereço)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Faculdade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Faculdade.FaculdadeId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CadastroId" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para a lista</a>
    </form>
</div>
