@model SistemaLearnGo.Models.Cadastro

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Cadastro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CadastroNomeCompleto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CadastroNomeCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CadastroDataNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CadastroDataNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CadastroRm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CadastroRm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CadastroCurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CadastroCurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CadastroEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CadastroEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CadastroSenha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CadastroSenha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CadastroEndereço)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CadastroEndereço)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Faculdade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Faculdade.FaculdadeNome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CadastroId">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>
