@model IEnumerable<SistemaLearnGo.Models.Cadastro>

@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CadastroNomeCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CadastroDataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CadastroRm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CadastroCurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CadastroEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CadastroSenha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CadastroEndereço)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculdade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CadastroNomeCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CadastroDataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CadastroRm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CadastroCurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CadastroEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CadastroSenha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CadastroEndereço)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Faculdade.FaculdadeNome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CadastroId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CadastroId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.CadastroId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
