@model IEnumerable<SistemaLearnGo.Models.Avaliacao>

@{
    ViewData["Title"] = "Index";
}

<h1>Avaliação</h1>

<p>
    <a asp-action="Create">Criar nova</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perfil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvaliacaoComentario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cadastro.CadastroNomeCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perfil.Cadastro.CadastroNomeCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvaliacaoComentario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AvaliacaoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.AvaliacaoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.AvaliacaoId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
